<div class="entry">
  {{! This comment will not be in the output }}
  <!-- This comment will be in the output -->

  {{!-- 
    multi-line
    comment
   --}}
  {{#if author}}
    <h1>{{firstName}} {{lastName}}</h1>
  {{/if}}
</div>